<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testio</title>
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/src/css/issue-list.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/src/js/common.min.js"></script>
</head>
<body>
    <div class="issues-header">
        <a href="/auth/logout" class="logout">
            <i class="glyphicon glyphicon-log-out"></i>
            Logout
        </a>
    </div>
    <div class="issues-left-col">
        <div class="issue-list-header clearfix">
            <div class="active-issues">
                <a href="#" class="active">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                    {{ openIssues|escape }} Open
                </a>
            </div>
            <div class="closed-issues">
                <a href="#">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                    {{ closedIssues|escape }} Closed
                </a>
            </div>
        </div>
        <div class="issue-list">
            {% for issue in list %}
                <div class="issue-list-item">
                    <div class="status">
                        <i class="glyphicon glyphicon-{% if issue.state == 'open' %}exclamation-sign{% else %}ok-circle{% endif %}"></i>
                    </div>
                    <div class="title">
                        <a href="{{ issueUri }}{{ issue.path }}">{{ issue.title|escape }}</a>
                        {% for label in issue.labels %}
                            <span class="label" style="background: #{{ label.color|escape }}">{{ label.name|escape }}</span>
                        {% endfor %}
                    </div>
                    <div class="info">
                        #{{ issue.number|escape }} {{ issue.opened|escape }} by <a href="{{ issueUri }}{{ issue.path }}">{{ issue.user.login|escape }}</a>
                    </div>
                    <a class="comments" href="{{ issueUri }}{{ issue.path }}">
                        <i class="glyphicon glyphicon-comment"></i>
                        {{ issue.comments|escape }}
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="issue-pagining" id="pagining"></div>
        <script>
            Issues.pagining({{ currentPage }}, {{ totalPages }}, '{{ issuesUri }}');
        </script>
    </div>
    <div class="issues-right-col">
        <div class="bg"></div>
        <div class="content">
            <h2>Full Stack Developer Task</h2>
            <span>by</span>
        </div>
    </div>
</body>
</html>